body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }
  html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
position: relative;
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
position: absolute;
z-index: 1;
width: 100%;
height: 100%;
pointer-events: none;    /* So the map remains interactive */
}
#map svg circle, .legend > div {
  pointer-events: all; /* Enable pointer events for circles */
  --color-departures: steelblue;
--color-arrivals: darkorange;
--color: color-mix(
  in oklch,
  var(--color-departures) calc(100% * var(--departure-ratio)),
  var(--color-arrivals)
);
fill: var(--color);
}
header {
    display: flex;
    gap: 1em;
    align-items: baseline;
  }

header h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  header label {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  #time-filter {
    margin-left: auto; /* push slider to the right */
    display: flex;
    flex-direction: column; /* stack slider + time text */
    font-size: 0.9em;
  }
  
  #selected-time {
    font-weight: bold;
  }
  
  #any-time {
    margin-left: auto;
    color: #666;
    font-style: italic;
  }
  
  #time-slider {
    color: blue;
    width: 250px;
  }
  
  .legend {
    display: flex;
    gap: 1em;
    margin-block: 1em;
  }
  
  .legend > div {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 0.9rem;
  }
  
  /* Create the colored square */
  .legend > div::before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    background: var(--color);
    border: 1px solid #333;
    border-radius: 0.2em;
  }
  